.mainbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mainbox{
  background-color: #FFE61B;
  width: 100vw;
  height: 100vh;
}
.headername{
  font-family: 'Montserrat', sans-serif;
}
.textarea{
 margin-bottom: 40px; 
}
.startbutton{
  margin-top: 10px;
  margin-right: 50px;
}
.stopbutton{
  margin-top: 10px;
  margin-left: 30px;
}
.resetbutton{
  margin-bottom: 15px;
}
.microphone-status{
  font-family: 'Montserrat', sans-serif;
}
#resulttext{
  background-color: white;
  width: 70vw;
  height: 70vh;
}
.downloadbutton{
  margin-top: 10px;
  margin-left: 40px;
}