.mainPage{
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    background-color: blue;
  
}
.leftBox{
    width: 60%;
    height: 500px;
    overflow-y: scroll;
    border: 1px solid black;
    margin-left: 4vw;
    background-color: white;
    overflow-x: hidden;
}
.rightBox{
    width: 25%;
    height: 500px;
    border: 1px solid black;
    margin-left: 4vw;
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
    padding-left: 3vw;
    background-color: white;
}

.count{
    font-weight: bold;
    font-size: 15px;
    margin-top: 2vh;
    margin-right: 2vw;
}